Brotli==1.1.0
cryptography==42.0.4
Faker==25.1.0
Flask==2.2.5
Flask_Cors==4.0.0
flask_expects_json==1.7.0
flask_sqlalchemy==3.0.3
flask-expects-json==1.7.0
Faker==25.1.0
pytest==7.2.0
python-dotenv==0.21.1
python-decouple==3.7
urllib3==1.26.13
SQLAlchemy==2.0.30
Werkzeug==3.0.3
zstandard==0.22.0
