Brotli==1.1.0
cryptography==42.0.8
Faker==26.0.0
Flask==3.0.3
Flask_Cors==4.0.1
flask_expects_json==1.7.0
flask_sqlalchemy==3.1.1
marshmallow==3.21.3
marshmallow_sqlalchemy==1.0.0
Faker==26.0.0
pytest==8.3.2
pytest-cov==5.0.0
python-dotenv==1.0.1
python-decouple==3.8
SQLAlchemy==2.0.31
waitress==3.0.0
Werkzeug==3.0.3
zstandard==0.22.0
