Brotli==1.1.0
cryptography==43.0.3
Faker==30.8.2
Flask==3.0.3
Flask_Cors==5.0.0
flask_expects_json==1.7.0
flask_sqlalchemy==3.1.1
marshmallow==3.23.1
marshmallow_sqlalchemy==1.1.0
Faker==30.8.2
pytest==8.3.3
pytest-cov==6.0.0
python-dotenv==1.0.1
python-decouple==3.8
SQLAlchemy==2.0.36
waitress==3.0.2
Werkzeug==3.1.1
zstandard==0.23.0
